*.iml
.kotlin
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
/iosApp/spmPackage/sources/ios-arm64/shared.framework/composeResources/cmpmobile.shared.generated.resources/drawable/compose-multiplatform.xml
/iosApp/spmPackage/sources/ios-arm64_x86_64-simulator/shared.framework/composeResources/cmpmobile.shared.generated.resources/drawable/compose-multiplatform.xml
/iosApp/iosApp.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
