//
//  Debug.xcconfig
//  iosApp
//
//  Created by Munir on 10/05/25.
//  Copyright © 2025 orgName. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

DISPLAY_NAME = Compose-App-Dev
PRODUCT_BUNDLE_IDENTIFIER = app.cmp.mobile.dev

